<style>
       /* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Content Container */
#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* Paragraph Styles */
p {
    margin-bottom: 15px;
}

/* Link Styles */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px 15px;
    border: 1px solid #ccc;
}

th {
    background-color: #007bff;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Blockquote Styles */
blockquote {
    border-left: 4px solid #007bff;
    padding-left: 15px;
    margin: 15px 0;
    font-style: italic;
}

/* Add more styles as needed */

</style>
<!-- Using Markdown-it. Ref: https://github.com/markdown-it/markdown-it -->
<script src="https://cdn.jsdelivr.net/npm/markdown-it@12.3.2/dist/markdown-it.min.js"></script>
<script>
    // if no GET params specified, then assumed to be /README.md
    // otherwise, link files using [Description](?file=/sample.md)

    var md = window.markdownit({
        highlight: function (/*str, lang*/) { return ''; }
    });

    var domain = 'https://bitrail.bitbucket.io';
    var url = domain + '/README.md';

    function findGetParameter(parameterName) {
        var result = null,
            tmp = [];
        location.search
            .substr(1)
            .split("&")
            .forEach(function (item) {
              tmp = item.split("=");
              if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            });
        return result;
    }

    var requestedFile = findGetParameter("file");
    if (requestedFile != null && requestedFile != "") {
        url = domain + requestedFile;
    }
    
    console.log("loading " + url);

    fetch(url)
      .then(function(response) {
        response.text().then(function(text) {
            document.getElementById('content').innerHTML = md.render(text);
        });
      });

</script>
<div id='content'>This page is part of the implementation guide for BitRail.<P><P>If this page does not render, please visit the main <a href="https://bitbucket.org/bitrail/bitrail.bitbucket.io">BitBucket repository for the guide</a>.</div>